test --sandbox_default_allow_network=false
test --test_output=errors

build --verbose_failures
build --worker_sandboxing
build --compilation_mode=opt

build --incompatible_enable_cc_toolchain_resolution
build --extra_toolchains @zig_sdk//:linux_amd64_gnu.2.19_toolchain
build --extra_toolchains @zig_sdk//:linux_arm64_gnu.2.28_toolchain
build --extra_toolchains @zig_sdk//:darwin_amd64_toolchain
build --extra_toolchains @zig_sdk//:darwin_arm64_toolchain
#build --incompatible_use_cc_configure_from_rules_cc
#build --incompatible_use_platforms_repo_for_constraints
